.boton.regresar span {
	transition: .4s ease-in-out all;
	position: absolute;
	left: 10%;
}

.boton.regresar .icono {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: -40px;
	transition: .3s ease-in-out all;
	opacity: 0;
}

.boton.regresar svg {
	color: #fff;
	width: 35px;
	height: 35px;
}

.boton.regresar:hover {
	background: black;
}

.botones.regresar:hover .icono {
	left: calc(100% - 50px);
	opacity: 1;
}

.botones.regresar:hover span {
	left: 20px;
}